.title {
    margin: 25px 0;
}

.characterFilm {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2;
}

.characterFilm:hover {
    text-shadow: 2px 2px 2px #f5aa27;
    cursor: pointer;
}